<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <contextName>logback</contextName>

    <property name="log.name" value="plumber"/>
    <property name="log.path" value="app/logs/"/>
    <property name="CONSOLE_LOG_PATTERN" value="%logger{5} %L %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!--日志文件输出的文件名-->
        <file>${log.path}/${log.name}.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

<!--    <logger name="com.github.shyiko.mysql.binlog" level="ERROR"/>-->

</configuration>